body {
    background-color: #111;
    color: #fff;
    font-family: 'Jetbrains Mono';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.pfp {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 15px;
}

.title {
    font-size: 60px;
    font-family: Dela Gothic One;
    font-weight: normal;
    margin: 0;
    height: 75px;
    display: flex;
    align-items: center;
}

.info {
    margin-bottom: 15px;
}

.like-item {
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.button {
    background-color: #000;
    border: 2px solid #fff;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
}

.social-buttons {
    display: flex;
    justify-content: center;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    margin: 0 7.5px;
    border-radius: 5px;
    font-weight: bold;
}

.discord {
    background-color: #5865f2;
}

.twitter {
    background-color: #08a0e9;
}

.youtube {
    background-color: #ff0000;
}

.reddit {
    background-color: #ff4500;
}

.pi {
    color: #ffffff;
    text-decoration: none;
}

.flag {
    width: 20px;
    height: 17px;
    vertical-align: middle;
    margin-left: 5px;
}

.discord-status {
    font-size: 16px;
}

p {
    margin: 7.5px 0px;
}

.social-icon {
    width: 20px;
}

.sub-count {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    background: #0000;
    border: solid 3px #fff1;
    border-radius: 5px;
    padding: 7.5px;
    width: fit-content;
}

.live {
    margin: 0;
    font-family: Dela Gothic One;
    font-weight: normal;
    font-size: 25px;
}

.pi-pfp {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 7.5px;
}
